In [1]:
import pymongo

In [3]:
conn = pymongo.MongoClient("mongodb://localhost:27017/")
db=conn['sampleDB']
col = db['People']

In [4]:
rec = {
    "Name": "Rohit",
    "Age": 21,
    "Place": "Ernakulam",
    "College": "CET"
}

In [5]:
col.insert_one(rec)

InsertOneResult(ObjectId('67d933821353267adee4935d'), acknowledged=True)

In [6]:
rec = [
    {"Name": "Diva", "Age": 25, "Place": "Ernakulam", "College": "CET"},
    {"Name": "Gokul", "Age": 21, "College": "CET"},
    {"Name": "Chaithanya", "Place": "Thrissur", "College": "CET"}
]

In [7]:
col.insert_many(rec)

InsertManyResult([ObjectId('67d933941353267adee4935e'), ObjectId('67d933941353267adee4935f'), ObjectId('67d933941353267adee49360')], acknowledged=True)

In [83]:
var = col.find({}, {"Name": 1, "_id": 0})
for i in var:
    print(i["Name"])

Rohit
Diva
Gokul
Chaithanya

In [84]:
var = col.find({}, {"_id": 0})
for i in var:
    print(i["Name"])

Rohit
Diva
Gokul
Chaithanya

In [30]:
var = col.find({"Name":"Rohit"}, {"Name": 1, "_id": 0})
for i in var:
    print(i)

{'Name': 'Rohit'}

In [31]:
var = col.find()
for i in var:
    print(i)

{'_id': ObjectId('67d933821353267adee4935d'), 'Name': 'Rohit', 'Age': 21, 'Place': 'Ernakulam', 'College': 'CET'}
{'_id': ObjectId('67d933941353267adee4935e'), 'Name': 'Diva', 'Age': 25, 'Place': 'Ernakulam', 'College': 'CET'}
{'_id': ObjectId('67d933941353267adee4935f'), 'Name': 'Gokul', 'Age': 21, 'College': 'CET'}
{'_id': ObjectId('67d933941353267adee49360'), 'Name': 'Chaithanya', 'Place': 'Thrissur', 'College': 'CET'}

In [90]:
var = col.find({}, {"Name": 1, "_id": 0}).limit(3)
for i in var:
    print(i["Name"])

Rohit
Diva
Gokul

In [92]:
var = col.find({}, {"Name": 1, "_id": 0}).sort("Name").limit(3)
for i in var:
    print(i["Name"])

Chaithanya
Diva
Gokul

In [98]:
var = col.find({}, {"_id": 0}).sort("Age")
for i in var:
    print(i["Name"])

Chaithanya
Rohit
Gokul
Diva

In [99]:
var = col.find({"Age": {"$lt": 25}}, {"_id": 0}).sort("Age")
for i in var:
    print(i["Name"])

Rohit
Gokul